@import "top_sub2menu.css";

ul.top_submenu {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    background: white;
    border-top: 1px #4d4d4d dotted;
    border-left: 1px #4d4d4d solid;
    border-right: 1px #4d4d4d solid;
    border-bottom: 1px #4d4d4d solid;

    display: none;
}

li.top_submenu {
    float: none;
    display: block;
}

span.top_submenu {
    border: 0;
    display: inline-block;

    padding: 0;

    padding-left: 0.5em;
    padding-right: 0.5em;

    position: relative;
    vertical-align: top;
}

li.top_submenu:hover {
    background-color: #e6e6e6;
}

span.top_submenu {
    border: 0;
    display: inline-block;
    padding-left: 0.5em; 
    padding-right: 0.5em; 
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    vertical-align: top;
}

span.top_submenu:hover {
    background-color: #e6e6e6;
}

a.top_submenu {
    color: #39618f;
    text-decoration: none;
}

a.top_submenu:hover {
    border-bottom: none;
}

li.top_submenu:hover ul.top_sub2menu {
    display: block;
}

